section {
    height: 100vh;
    display: flex;
}

#sidebar {
    z-index: 10;
    position: fixed;
    border-right: 0.5px solid #BDDAFA;
    height: 100vh;
    background-color: white;
    transition: margin-left .5s;
    -webkit-transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -ms-transition: margin-left .5s;
    -o-transition: margin-left .5s;
}

section main {
    flex: 1 1 auto;
    overflow: auto;
    transition: padding-left .5s;
    -webkit-transition: padding-left .5s;
    -moz-transition: padding-left .5s;
    -ms-transition: padding-left .5s;
    -o-transition: padding-left .5s;
}

section.no-activate #sidebar {
    margin-left: -100%;
}

section.activate #sidebar {
    margin-left: 0%;
}

@media (width > 800px) {
    section.no-activate #sidebar {
        margin-left: -200px;
    }
    #sidebar {
        flex: 0 0 auto;
        width: 200px;
        height: 100%;
        height: auto;
        position: relative;
    }
}